
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<style>
    .one_quarter{
        -webkit-box-shadow: 4px 10px 15px 0px rgba(0,0,0,1);
-moz-box-shadow: 4px 10px 15px 0px rgba(0,0,0,1);
box-shadow: 4px 10px 15px 0px rgba(0,0,0,1);
    }
</style>
<!-- ################################################################################################ -->
<div style="position:absolute" class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left"> Fotoğrafçı </p>
    <p class="fl_right"></p>
    <!-- ################################################################################################ --> 
  </div>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a> ﻿