<div class="wrapper row1" style="background-color:purple; margin-top:0px;">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div  style="width:100%"  id="logo" class="fl_left">
      
    <center> <h1 style="color:white;font-family:Times New Roman;" ><a  href="/on_taraf/anasayfa/index.html">Fotoğraf Makineleri</a></h1></center>
      
    </div>
 
    <!-- ################################################################################################ --> 
  </header>
</div>

<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
