<% if user_signed_in? %>
    <%= render partial: "layouts/shared/arka_taraf/navbar" %>
<% end %>

		<div class="container-fluid pt70 pb70">
			<div id="fh5co-projects-feed" class="fh5co-projects-feed clearfix masonry">
				   <% sayac = 0  %>
    <% @oyunlar.each do |oyun| %>
    <% if sayac%3 == 0 %>
    </ul>
    <br>
    <br>
     <ul class="nospace group">
    <li class="one_third first ">
    <% else %>
    <li class="one_third ">
    <% end %>
   
        <article>
            <img style="margin-bottom:15px" src = "<%= image_path(oyun.resim)  %>">
            
          <center><h6 class="heading font-x1"><strong><%= oyun.isim %></strong></h6></center>
          <center><footer><a class="btn" href="/on_taraf/oyundetay/index?id=<%=oyun.id%>">Daha Fazla &rsaquo;</a></footer></center>
        </article>
      </li>
    <% sayac += 1  %>
    <% end %>
			</div>
			<!--END .fh5co-projects-feed-->
		</div>
		</div>